apiVersion: apps/v1
kind: Deployment
metadata:
  name: fixmate-frontend
  namespace: fixmate
  labels:
    app: fixmate-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fixmate-frontend
  template:
    metadata:
      labels:
        app: fixmate-frontend
    spec:
      containers:
        - name: fixmate-frontend
          image: janithad/fixmate-frontend
          ports:
            - containerPort: 80
          env:
            - name: REACT_APP_BACKEND_URL
              valueFrom:
                configMapKeyRef:
                  name: frontend-config
                  key: REACT_APP_BACKEND_URL
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"

          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 2
            periodSeconds: 5
